<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
  <link rel="stylesheet" href="./assets/css/style.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>

  <title>Eat-Da-Burger App!</title>
</head>

<body>
  


  <!-- Jumbotron -->
<div class="row">
  <div class="col  col-lg-5 header-image">
    </div>

  <div class="col  col-lg-7 bg-secondary text-center rgba-stylish-strong py-5 px-4 header-text">
    <div class="py-5">

      <!-- Content -->
      
      <h2 class="card-title h2 my-4 py-2">Eat-Da-Burger App!</h2>
      <p class="mb-4 pb-2 px-md-5 mx-md-5">A burger logger application is a webbased application where the front end is generated with handlebars dynamic html pages, the application also has middleware for GET, UPDATE and routes and data is persistent stored in mySQL. Entire app is deployed in Heroku.</p>
      

    </div>
  </div>
</div>
<!-- Jumbotron -->
{{!-- 
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Eat-Da-Burger App!</h1>
    <p class="lead">A burger logger application is a webbased application where the front end is generated with handlebars dynamic html pages, the application also has middleware for GET, UPDATE and routes and data is persistent stored in mySQL. Entire app is deployed in Heroku.</p>
  </div>
</div> --}}

  <main class="container-fluid">
    {{{body}}}
  </main>

</body>

</html>